<h2>Add a comment</h2>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: params[:id] %>
  <%= f.label :content, "My two cents:" %>
  <%= f.text_area :content %>

  <%= f.submit "Contribute" %>
<% end %>
