<h2><%= @post.title %></h2>
<p>
  <%= @post.content %>
</p>
<p>
  <%= @post.vote %> people stand with you
</p>

<%= link_to "Add a comment", new_comment_path(@post.id) %>

<div class="comments">
  <% @post.comments.each do |comment| %>
  <p>
    <%= comment.content %>
  </p>
  <p>
    Downvotes: <%= comment.downvote %>
  </p>
  <%= button_to "Downvote", update_comment_path(comment.id), params:{'comment[jerk]' => true}, method: :patch%>
  <% end %>
</div>
