<div class="individual-comment">
  <h2>Dear <%= @post.title %></h2>

  <p>
    I want you to know, <%= @post.content %>
  </p>
  <p>
    <%= @post.vote %> people stand with you
  </p>
</div>

<h3><%= link_to "Add a comment", new_comment_path(@post.id)%></h3>

<% @post.comments.each do |comment| %>

  <div class="comments individual-comment">
    <p>
      <%= comment.content %>
    </p>
    <p>
      Downvotes: <%= comment.downvote %>
    </p>
    <%= button_to "Downvote", update_comment_path(comment.id), params:{'comment[jerk]' => true}, method: :patch, class: 'btn btn-default'%>

  </div>

<% end %>
