<h2>Tag it</h2>
<p>Find me in app/views/categories/new.html.erb</p>


<ul>
  <% @categories.each do |category| %>
      <li>
        <%= check_box_tag 'category_ids[]', category.id %>
        <%= category.name %>
      </li>
  <% end %>
</ul>


<h3>Create a new category</h3>
<%= form_for @category do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %>
<% end %>
