<h2>Tag it</h2>

<%= form_tag(update_categories_path, method: :patch) do -%>
  <ul>
    <% @categories.each do |category| %>
        <li>
          <%= check_box_tag 'category_ids[]', category.id %>
          <%= category.title %>
        </li>
    <% end %>
  </ul>
  <%= submit_tag 'Tag' %>
<% end -%>

<h3>Create a new category</h3>
<%= form_for @category do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>
